<div class="md-editor-container">
  <div class="md-layout">
    <app-editor-toolbar [editor]="editor" (onSave)="onSave.emit()" (onExit)="onExit.emit()"
      [(documentState)]="documentState" [(pageName)]="pageName">
    </app-editor-toolbar>

    <div class="editor-container">
      <div class="editor-panel-container">
        <div class="editor-panel">
          <div class="ace-editor" #aceEditor></div>
        </div>
      </div>
      <div>
        <div class="preview-panel" [innerHTML]="previewHtml"></div>
      </div>
    </div>
  </div>
</div>